@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #A3133A;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: #ffffff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}